<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankurshukla.hostel" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Controller.AppController"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activity.Warden_DashBoard"
            android:label="@string/title_activity_dash_board" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.Preference"
            android:label="@string/title_activity_wing_form" >
        </activity>
        <activity
            android:name=".ConflictUi"
            android:label="@string/title_activity_conflict_ui" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.WingForm"
            android:label="WingForm" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.Notifications"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name=".Activity.Student_Dashboard"
            android:label="@string/title_activity_student__dashboard" >
        </activity>
        <activity
            android:name=".Warden_Wing"
            android:label="@string/title_activity_warden__wing" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.Student_Notify"
            android:label="@string/title_activity_student__notify" >
        </activity>
        <activity
            android:name=".Activity.Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.Saved_Form"
            android:label="@string/title_activity_saved__form" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.Submitted_Form"
            android:label="@string/title_activity_submitted__form" >
        </activity>
        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard_Activity.Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.SearchResult"
            android:label="@string/title_activity_search_result" >
        </activity>
        <activity
            android:name=".Dashboard_Activity.Special_Request"
            android:label="@string/title_activity_special__request" >
        </activity>
    </application>

</manifest>
